body {
    color: #0B162A;
    background-color: #B2F1ED;
}

h1 {
    text-decoration-color: #FA9A1B;
    color: #FA9A1B;
}

p {
    color: #0B162A;
    text-decoration-color: blue;
}

.btn {
    border-color: #C83803;
    border-width: 4px;
    background-color: #C83803;
    color: #FFFFFF;
}

    .btn:hover {
        color: #FFFFFF;
        border-width: 4px;
        background-color: #0B162A;
        border-color: #C83803;
    }


.navbar {
    color: #0B162A;
    background-color: #0B162A;
}

.navbar-inverse {
    color: #0B162A;
    background-color: #0B162A;
}

.navbar-fixed-top {
    color: #0B162A;
    background-color: #0B162A;
}

.tableInformation {
    width: 180px;
    padding: 10px;
    border: 2px;
}

.shipping {
    width: 180px;
    padding: 10px;
    border: 2px;
}

.submitButton {
    border: 1px #FF0000 solid;
    width: 150px;
    height: 30px;
    background-color: white;
    text-decoration-color: black;
    padding: 5px;
}

.submitButton2 {
    font-family: verdana, arial, snas-serif;
    font-size: 11px;
    color: #000000;
    padding: 3px;
    background: #f0f0f0;
    border-left: solid 1px #c1c1c1;
    border-top: solid 1px #cfcfcf;
    border-right: solid 1px #cfcfcf;
    border-bottom: solid 1px #6f6f6f;
    width: 100px;
    height: 25px;
    background-color: white;
}

.thead-dark {
    color: #FFFFFF;
    background-color: #0B162A;
}